.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f8f5f5;
  padding: 30px;
}
.head-title {
  text-align: center;
  margin-top: 20px;
}

.active {
  background-color: rgb(38, 136, 210);
  color: white;
}

.base-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 380px;
  padding: 1rem;
  margin-top: 20px;
  height: auto;
  gap: 25px;
}
.base-img img {
  border-radius: 0.5rem;
  max-width: 300px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}
.base-img {
  background-color: rgba(220, 220, 220, 0.8);
  width: 320px;
  height: 380px;
  border-radius: 10px;
}
.base-img .name {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 5px;
  width: 120px;
}
.base-img p {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.base-img span {
  margin: 4px;
  padding: 3px;
  font-size: 14px;
  background-color: #d2c6c6;
  border: 1px solid grey;
  border-radius: 10px;
}

.base-img:hover {
  box-shadow: 3px 5px 3px 2px rgb(199, 197, 197);
  transition: 0.3s;
}
.add-cart{
  cursor: pointer;
  margin-left: 270px;
  margin-top: -20px;
  color: grey;
}
.add-cart span{
  background-color: transparent;
  font-size: 25px;
  border-radius: 0;
  border: none;
  margin: 0;

  padding: 0;
}
.clicked{
  color: black;
}

.type {
  position: absolute;
  margin-left: 30px;
  
}

.info {
  display: flex;
  flex-direction: row;
  margin-left: 400px;
  margin-top: 30px;
  gap: 10px;
 
}
.info .info-hr{
  rotate: 180deg;
  width: 1px;
  color: #c4c8cb;
  height: 40px;
  margin-top: 0;
}
.info h4{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  background-color: rgb(155, 185, 212);
  height: 40px;
  border-radius: 8px;

}
.info img{
  height: 25px;
}
.info h5{
  width: 140px;
  height: 40px;

  font-weight: 500;
  font-size: 0.9rem;
  background-color: rgb(155, 185, 212);
  border-radius: 8px;
  padding: 10px;
}

.add-filter{
  display: none;
}



 .mobile{
  display: none;
 }
@media (max-width:768px) {
.pc{
  display: none;
}
 .mobile{
  display: block;
 }
  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #f8f5f5;
    padding: 0;
  }
  .add-filter{
    display: block;
  }
  .add-filter button{
    width: 150px;
    margin-top: 40px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: rgb(52, 78, 208);
  }
  .base-container {
    display: flex;
    padding: 1rem;
    margin-top: 30px;
    justify-content: center;
    margin-left: 0;
    height: auto;
    gap: 25px;
  }
  .base-img img {
    border-radius: 0.5rem;
    max-width: 300px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
  }
  .base-img {
    background-color: rgba(220, 220, 220, 0.8);
    width: 320px;
    height: 380px;
    border-radius: 10px;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px;
    gap: 10px;
   
  }
  .head-title {
    max-width: 400px;
    padding: 10px;
  }

}