.loader-container {
  display: flex;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 97%;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 1;
}

.spinner {
  position: sticky;
  top: 50%;
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}
.loading-details {
  position: sticky;
  top: 440px;
  height: 0;
  margin-left: 710px;
  color: white;
  font-weight: 400;
  cursor: auto;
  z-index: 5;
  animation: fadein 1.2s linear infinite;
}
@media (max-width:768px) {
  .loading-details {
    margin-left: 38%;
    top: 58%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
