.form-container {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}
.form-title {
  text-align: center;
  padding-top: 20px;
}
form {
  height: auto;
  padding-bottom: 20px;
  width: 400px;
  padding: 1.2rem;
  margin: auto;
  margin-top: 20px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 8px;
}

form label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  text-align: left;
}
form input {
  padding: 0.7rem;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}
.myfile {
  display: none;
}
.img-label {
  width: 110px;
  padding: 0;
  margin-left: 10px;
}
#choose {
  display: block;
  height: 40px;
  width: 110px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}
form p {
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.delete-img {
  float: right;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 28px;
  cursor: pointer;
  border: none;
  color: rgb(5, 12, 85);
}
.select-p {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 600;
}
.submit-btn {
  margin-top: 20px;
  margin-left: 130px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  border: none;
  background-color: rgb(13, 87, 13);
  cursor: pointer;
}
.submit-btn:hover {
  box-shadow: 2px 2px 2px 2px rgb(116, 176, 116);
  transition: 0.2s ease-in;
}
.form-data select {
  width: 345px;
  height: 40px;
  border-radius: 4px;
  margin-left: 8px;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  border: none;
  font-weight: 400;
}
.form-data select option {
  font-size: 16px;
}
.selected-image {
  margin-top: 20px;
  height: 60px;
  width: 110px;
  object-fit: contain;
  margin-left: 10px;
  border-radius: 4px;
}
#spinner{
  position: absolute;
  margin-top: -15px;
  margin-left: -20px;
}

@media (max-width: 768px) {
  form {
    width: 350px;
  }
  .form-data select {
    width: 295px;
    height: 45px;
  }
  .submit-btn {
    margin-left: 115px;
    height: 40px;
    width: 80px;
    font-size: 18px;
  }
}